body {
    background-color: white;
    font-family: "Charcoal, sans-serif";

}

.navBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px !important;
    background-color: #030954 !important;
    z-index: 20;
}